/**
* A switch with to states displayed as a button
* behavior like SV 2.7 switch (first click is on/1 if dual-switch is an unknown state)
*
* @param unique id for this widget
* @param a item
* @param the pic for the 'on' state (optional)
* @param the pic for the 'off' state (optional)
* @param value send for the 'on' state (optional, default 1)
* @param value send for the 'off' state (optional, default 0)
* @param type: 'micro', 'mini', 'midi' (optional, default: mini)
* @param color: 'color' for on state e.g. '#f00' for red (optional, default: 'icon1' of design)
*/
{% macro dual(id, item, pic_on, pic_off, val_on, val_off, type, color) %}
	{% set uid = uid(page, id) %}

	<a id="{{ uid(page, id) }}" data-widget="ddtlabs_basic.dual" data-item="{{ item }}"
		data-val-on="{{ val_on|default('1') }}" data-val-off="{{ val_off|default('0') }}"
		data-pic-on="{{ pic_on|deficon('control_on_off.svg') }}" data-pic-off="{{ pic_off|deficon('control_on_off.svg') }}"
		class="ui-{{ type|default('mini') }}" data-role="button" data-inline="true" data-iconpos="center">

		<img id="{{ uid }}-off" class="icon" src="{{ pic_off|deficon('control_on_off.svg') }}" />
		{% if color is empty  %}
			<img id="{{ uid }}-on" class="icon icon1 hide" src="{{ pic_on|deficon('control_on_off.svg') }}" />
		{% else %}
			<img id="{{ uid }}-on" class="icon icon1 hide" style="stroke:{{ color }}; fill:{{ color }};" src="{{ pic_on|deficon('control_on_off.svg') }}" />
		{% endif %}
	</a>
{% endmacro %}


/**
* A switch, build of two pics (with color)
*
* @param unique id for this widget
* @param a item
* @param the pic for the 'on' state (optional)
* @param the pic for the 'off' state (optional)
* @param value send for the 'on' state (optional, default 1)
* @param value send for the 'off' state (optional, default 0)
*  param the color 'icon1' or e. g. '#f00' for red (default 'icon1' of the design)
*/
{% macro switch(id, item, pic_on, pic_off, val_on, val_off, color) %}
    {% set uid = uid(page, id) %}

    {% if not pic_on or pic_on|slice(-4, 4) == '.svg' %}
        <span id="{{ uid }}" data-widget="ddtlabs_basic.switch" data-item="{{ item }}"
            data-val-on="{{ val_on|default('1') }}" data-val-off="{{ val_off|default('0') }}"
            data-pic-on="{{ pic_on|deficon('control_on_off.svg') }}" data-pic-off="{{ pic_off|deficon('control_on_off.svg') }}"
            class="switch icon">
                <a>
                    <img id="{{ uid }}-off" class="icon" src="{{ pic_off|deficon('control_on_off.svg') }}" />
                    {% if color is empty  %}
                        <img id="{{ uid }}-on" class="icon icon1 hide" src="{{ pic_on|deficon('control_on_off.svg') }}" />
                    {% elseif color == 'icon1' %}
                    <img id="{{ uid }}-on" class="icon icon1 hide" src="{{ pic_on|deficon('control_on_off.svg') }}" />
                    {% else %}
                    <img id="{{ uid }}-on" class="icon icon1 hide" style="stroke:{{ color }}; fill:{{ color }};" src="{{ pic_on|deficon('control_on_off.svg') }}" />
                    {% endif %}

                </a>
        </span>
    {% else %}
        <span id="{{ uid }}" data-widget="ddtlabs_basic.switch.v1" data-item="{{ item }}"
            data-val-on="{{ val_on|default('1') }}" data-val-off="{{ val_off|default('0') }}"
            data-pic-on="{{ pic_on|default(icon1~'control_on_off.png') }}" data-pic-off="{{ pic_off|default(icon0~'control_on_off.png') }}"
            class="switch"><a><img class="icon" src="{{ pic_off|default(icon0~'control_on_off.png') }}" /></a>
        </span>
    {% endif %}
{% endmacro %}
