/**
 * ---  W i d g e t s :  S O N O S  ----------------------------------
 *
 *       for Widget Release 0.85+
 *
 */

.ddtlabs .sonos {
}

.ddtlabs .sonos td {
	border: 0px solid;
	text-align: left;
}

/** cover imgage itself */
.ddtlabs .sonos .coverimg {
	width: 186px;
	height: 186px;
	background: #eeeeee none repeat scroll 0 0;
	border-color: gray;
	border-radius: 10px;
	border: 2px solid;
}

/** td with coverimg */
.ddtlabs .sonos #cover {
	width: 186px;
	vertical-align: top;
}

/** td with volume slider */
.ddtlabs .sonos #vol {
	width:  75px;
}

/** td spacer */
.ddtlabs .sonos #spacer {
	height: 10px;
}

.ddtlabs .sonos .vol {
	position: relative;
	padding: 0px 15px 0px 0px;
}

.ddtlabs .sonos .vol .ui-slider {
	display: inline-block;
}

.ddtlabs .sonos .ui-slider .ui-input-text {
	display: none !important;
}

.ddtlabs .sonos .mute,.play {
	text-align: center;
}

.ddtlabs .sonos .playlist {
	left: 18px;
	position: relative;
}

.ddtlabs .sonos .btnright {
	left: 18px;
	position: relative;
}

/** wide layout */
.ddtlabs .sonos .playlist-wide {
	left: 0px;
	position: relative;
}

.ddtlabs .sonos .btnright-wide td {
	text-align: center;
	border-spacing: 0;
	padding: 0;
}

.ddtlabs .sonos .playlist .btnright-wide td {
	text-align: center;
	border-spacing: 0;
	padding: 0;
}

/** Title itself */
.ddtlabs .sonos .title {
	left: 18px;
	position: relative;
	vertical-align: top;
}

/** Title itself */
.ddtlabs .sonos .title-wide {
	left: 0px;
	vertical-align: bottom;
}

/** Title td */
.ddtlabs .sonos #title {
	vertical-align: top;
	height: 21px;
}

.ddtlabs .sonos #title-wide {
	vertical-align: top;
	height: 21px;
	text-align: center;
}

.ddtlabs .sonos .playlist .ui-select {
	display: table;
	position: relative;
	overflow: hidden;
	min-width: 90px;
}

.ddtlabs .sonos .playlist .ui-btn-inner {
	padding: 6px 15px 6px 0;
}

.ddtlabs .sonos .playlist .ui-btn-up-a {
    font-weight: lighter;
}

.ddtlabs .sonos .pos {
	left: 2%;
	right: 0;
	bottom: 0;
	top: 0;
	position: relative;
	width:  96%;
}

.ddtlabs .sonos .symbolpause {
	 margin: -60px 0 0 70px !important;
}

.ddtlabs .sonos .pos .ui-slider-track {
	margin: -30px 0 5px 0 !important;
	height: 8px;
	opacity: 0.50;
}

.ddtlabs .sonos .pos .ui-controlgroup-horizontal {
	margin: 10px 10px 0 10px;
}

/** disable knop */
.ddtlabs .sonos .pos .ui-slider .ui-slider-handle {
	display: none;
}

.ddtlabs .sonos .pos .scale {
	position: relative;
	height: 15px;
	top: 2px;
	background-image: url('../base/pics/scalex_linear.png');
}

.sonos_header_presence svg.fx-icon {
	height: 17px;
	width: 17px;
	vertical-align: text-top;
}

.ddtlabs-sonos-popup-eq {
	width: 450px;
}

.ddtlabs .sonospopup table{
	padding: 10px 10px 10px 15px;
}

.ddtlabs .sonospopup td{
	white-space: nowrap;
	border: 0px solid;
}

.ddtlabs .sonospopup #popupspacer {
	height: 10px;
}

.ddtlabs .sonospopup #header {
}

.ddtlabs .sonospopup #text {
}

.ddtlabs .sonospopup #slider {
	padding: 0 0 0 18px;
}

.ddtlabs .sonospopup .desc {
	float: right;
	font-size: x-small;
	position: relative;
	margin: 0 28px; 0 0;
	color: gray;
}
