/**
 * --- W i d g e t s :   H M   R T R -----------------------------------------------------
 */

.ddtlabs .rtr .actual {
	width: 100%;
}

.ddtlabs .rtr .set {
/**	width: 180px; */
	padding: 0px 0 5px 35px;
}

.ddtlabs .rtr .control {
	width: 100%;
	height: auto;
}

.ddtlabs .rtr .control .switch {
	float: none;
}

.ddtlabs .rtr .control .icon {
	float: none;
/**	height: 32px;
	width: 32px; */
}

.ddtlabs .rtr .control .status {
	height: 42px;
	width: 42px;
/**	width: 22px;
	vertical-align: middle;
*/
}

.ddtlabs .rtr .control .status .icon {
	float: none;
	height: 40px;
	width: 40px;
}

/** SVG Icons SV2.8+ */
.ddtlabs .rtr .control .status .fx-icon {
	float: none;
	height: 40px;
	width: 40px;
}

.ddtlabs .rtr .control .statusgroup {

}




/**
 * --- W i d g e t s :   H M   R T R   L I S T -------------------------------------------
 */



.ddtlabs .rtr-list {
}

.ddtlabs .rtr-list table {
	width: 100%;
	border: 0px solid black;
	border-collapse: collapse;
	text-align: left;
}

.ddtlabs .rtr-list td, .ddtlabs .rtr-list th {
	border: 0px solid black;
	margin: 0;
	padding: 1px 0 1px 0;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.ddtlabs .rtr-list .icon {
	width: 32px;
	height: 32px;
	padding: 0;
}

.ddtlabs .rtr-list hr {
	margin: 1px 0 1px 0;
	width: 92%;
    border: 0;
    height: 0;
    box-shadow: 0 0 20px 1px black;
}

.ddtlabs .rtr-list hr:after {
	content: "\00a0";  /* Prevent margin collapse */
}

.ddtlabs .rtr-list .space {
	width: 5px;
}

.ddtlabs .rtr-list .settings {
	width: 230px;
}

#tempsoll {
	color:silver;
}






